/* SCSS HEX */
$color1: #cee5f2ff;
$color2: #accbe1ff;
$color3: rgb(244, 251, 255);
$color4: #637081ff;
$color5: rgb(232, 236, 238);

$white: rgb(255, 255, 255);
$text: rgb(33, 34, 34);

$border-radius: 15px;
$margin-top: 9rem;