@import '/src/variables';
.table{
    border-radius: 7px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: '25em';
     width: '100%' ;
}

Divider{
    margin-bottom: 3px;
}

.avatar{
    border-radius: 45px;
}