@import '/src/variables';
.box{
    padding-top: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
h2{
    text-align: center;
    color: $color6;
}
Wordcloud{
    font-family: 'Courier New', Courier, monospace;
}