@import '/src/variables';
.hello{
    width: 100%;
    margin-top: 5em;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;

}
.hello-container{

    
    width: 80%;

}
.hello-half{
    width: 100%;
}
.hello-container h1{
    color: $color6;
    text-align: center;
}
p{
    color: $color6;
    text-align: center;
}
.top-container{
    margin-left: 10px;
    display: flex;
    color: rgb(39, 38, 38);
}

.image-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.image-container img{

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 15px;
    border-radius: $border-radius;
    width: 5em;
    flex: 1;
}

  